<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Category</ion-title>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="3" offset-sm="2" text-center>
        <ion-card *ngFor="let article of data?.articles" (click)="visitLink(article)">
          <ion-img [src]="article.urlToImage"></ion-img>
          <ion-card-header>
            <ion-card-title>{{article.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             {{article.description}}
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

